.lets-gobit-btn {
background-color: $accent-orange;
color: white;
padding: 13px 25px;
border-radius: 100px 100px 100px 100px;
text-align: center;
align: center;
text-decoration: none;
font-size: 25px;
}

/* goal hopper css*/
.active {
color: #f26552;
}

.goalStagnant {
color: #000000;
font-size: 50px;
text-align: left;
vertical-align: middle;
padding-top: 20px;
padding-bottom: 20px;
}
#goalHop {
color: #cdd0d5;
font-size: 50px;
text-align: right;
vertical-align: middle;
padding-top: 20px;
padding-bottom: 20px;
position: relative;
-webkit-transition: width 2s;
transition: width 2s;
}
.goalBox {
display: block;
width: 100%;
padding-top: 160px;
text-decoration: none;
}


h2{
  color: $accent-orange;
    font-family: $default-font, cursive;
    font-size: 25px;
    text-align: center;
    padding-bottom: 5px;
    margin: auto;
}
#me{
  color: $accent-orange;
    font-family: $default-font, cursive;
    font-size: 25px;
    text-align: center;
    padding-bottom: 5px;
    margin: auto;
}
