.navbar-wrapper
{
  text-align: center;
  width: $desktop-width;
  margin: auto;
  display: flex;
  justify-content: space-between;

}
.navbar
{
  display: block;

}

@media (max-width: $desktop-breakpoint){
  .navbar {
    width: $mobile-width;
  }

}
