.completed {text-decoration: line-through;}


span.completedThumbsDown{
  color: black;

}
span.notCompletedThumbsDown{
  color: red;
}
span.completedThumbsUp{
  color: green;

}
span.notCompletedThumbsUp{
  color: black;
}

//task here inherits from li in bass.scss
.task{
  display: flex;
  justify-content: space-between;
  text-align: left;

}
