.today{
  width: 100%;
  margin: auto;
  padding: 5px
}
.today-wrapper{
  width: 60%;
  margin: auto;
}

@media (max-width: $desktop-breakpoint){
  .today {
    width: $mobile-width;
  }

}
.week-highlighted{
  border: 1px solid black;
}
